<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clipboarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Clipboarder.Properties.Settings>
            <setting name="EntriesPerPage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExternalImageEditor" serializeAs="String">
                <value>mspaint.exe</value>
            </setting>
            <setting name="DbOpTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
        </Clipboarder.Properties.Settings>
    </applicationSettings>
</configuration>