<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Clipboarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Clipboarder.Properties.Settings>
            <setting name="EntriesPerPage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExternalImageEditor" serializeAs="String">
                <value>mspaint.exe</value>
            </setting>
            <setting name="DbOpTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DbPath" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="ShowContents" serializeAs="String">
                <value>Text,Image,HTML</value>
            </setting>
            <setting name="ListenContents" serializeAs="String">
                <value>Text,Image,HTML</value>
            </setting>
            <setting name="HideAfterCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSShow" serializeAs="String">
                <value>Alt+Oemtilde</value>
            </setting>
            <setting name="XPurge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XPurgeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RuleScript" serializeAs="String">
                <value>/// Do not uncomment the following lines, they are not needed
/// public static char Exec(ref string rawText, ref string html, ref Image image, ref string url) {
/// returning 'd' to delete(ignore) the entry
/// returning 'f' to favorite the entry after being stored
return '\0';
/// }</value>
            </setting>
            <setting name="RuleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PanelShortcutsMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D1</string>
                        <string>D2</string>
                        <string>D3</string>
                        <string>D4</string>
                        <string>Q</string>
                        <string>W</string>
                        <string>E</string>
                        <string>A</string>
                        <string>S</string>
                        <string>D</string>
                        <string>Z</string>
                        <string>X</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Clipboarder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
