<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clipboarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Clipboarder.Properties.Settings>
            <setting name="EntriesPerPage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExternalImageEditor" serializeAs="String">
                <value>mspaint.exe</value>
            </setting>
            <setting name="DbOpTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DbPath" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="ShowContents" serializeAs="String">
                <value>Text,Image,HTML</value>
            </setting>
            <setting name="ListenContents" serializeAs="String">
                <value>Text,Image,HTML</value>
            </setting>
            <setting name="HideAfterCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </Clipboarder.Properties.Settings>
    </userSettings>
</configuration>